.jumbotron {background-color: cyan;}
.jumbotron2 {background-color: darkorange}
h4{font-size: 20px; }

#me{background-color: black}
#goal{background-color: black}
#goal2{background-color: black}
body{background-color: grey}
h3{color: orange}
#pro{background-color: black}
#future{height:500px;
        width: 550px;}
#name{color: cyan}
#email{color: cyan}
#phoneNumber{color: cyan}
#photo2{height: 100px;
        width: 100px}
#p1{font-size: 18px}
#fblogo{height: 100px;
        width: 100px;}
#idgreeting{font: size 25;}
.free{font-stretch: 20px }
#base{dzfg}
.gmail{sldkjha}
.carousel-inner > .item > img{
        margin:auto;
        width:100%
        }


